numpy==1.23.5
opencv-python==4.11.0.86
loguru
# scikit-image
scikit-learn==1.6.1
tqdm
torchvision>=0.10.0
Pillow
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py
matplotlib
scipy
prettytable
easydict
tensorboard
pyyaml
yacs
termcolor
gdown
onnx==1.18.0
onnxruntime==1.22.0
onnx-simplifier==0.4.36
onnxoptimizer==0.3.13
gradio==5.36.2
gradio_client==1.10.4




